
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    color: $gray-dark;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

//button
.button{
    display: inline-block;
    font-size: 16px;
    color: $gray-dark;
    padding: 21px 45px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    line-height: normal;
    transition: color 0.5s ease-in-out;
    &:hover{
        color: $primary-color;
    }
    
    &--primary{
        color: white;
        background-color: $primary-color;
        &:hover{
            color: white;
            background-color: #81aef2;
        }
    }
    &--outline{
        color: $gray-blur;
        border: 1px solid;
    }
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.block{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 85px;

    &__caption{
        color: $gray-blur;
        text-transform: uppercase;
        margin-bottom: 40px;
        position: relative;
        display: inline-block;
        padding: 0 10px;
    }
    &__caption:before{
        left: 0;
        transform: translateX(-100%);  
    }     
    &__caption:after{
        right: 0;
        transform: translateX(100%);  
    }       
    &__caption:before,
    &__caption:after{
        content: '';
        position: absolute;
        height: 2px;
        width: 30px;
        background-color: $primary-color;
        top: 50%;
          
    }
    &__caption--left{
        padding-left: 40px;
        margin-bottom: 30px;
    }
    &__caption--left:before{
        transform: none;
    }
    &__caption--left:after{
        display: none;
    }
    &__heading{
        font-size: 50px;
        line-height: 1.4;
        span{
            display: block;
        }
    }
}

.text-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &--2{
        -webkit-line-clamp: 2;
    }
}

.text{
    font-weight: 300;
    color:$gray;
    line-height: 1.6;
}
