* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  color: #272e35;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 21px 45px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  transition: color 0.5s ease-in-out;
}
.button:hover {
  color: #579aff;
}
.button--primary {
  color: white;
  background-color: #579aff;
}
.button--primary:hover {
  color: white;
  background-color: #81aef2;
}
.button--outline {
  color: #a5b2c3;
  border: 1px solid;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 85px;
}
.block__caption {
  color: #a5b2c3;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.block__caption:before {
  left: 0;
  transform: translateX(-100%);
}
.block__caption:after {
  right: 0;
  transform: translateX(100%);
}
.block__caption:before, .block__caption:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #579aff;
  top: 50%;
}
.block__caption--left {
  padding-left: 40px;
  margin-bottom: 30px;
}
.block__caption--left:before {
  transform: none;
}
.block__caption--left:after {
  display: none;
}
.block__heading {
  font-size: 50px;
  line-height: 1.4;
}
.block__heading span {
  display: block;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}

.text {
  font-weight: 300;
  color: #868D93;
  line-height: 1.6;
}

.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  margin-right: 120px;
}
.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__menu-item {
  margin-left: 75px;
}
.header__menu-link {
  color: #272e35;
  transition: color 0.25s ease-in-out;
}
.header__menu-link:hover {
  color: #579aff;
}
.header__auth {
  margin-left: auto;
}

.banner {
  display: flex;
  align-items: center;
  margin-top: 50px;
  position: relative;
}
.banner__info {
  width: 35%;
}
.banner__image {
  position: absolute;
  top: 10px;
  right: 0;
  width: 65%;
  transform: scaleX(50px);
}
.banner__heading {
  font-size: 55px;
  line-height: 1.4;
  color: #272e35;
  margin-bottom: 40px;
}
.banner__heading span {
  display: block;
}
.banner__desc {
  margin-bottom: 50px;
}
.banner__links {
  display: flex;
  flex-flow: row nowrap;
}
.banner__links .button:first-child {
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 40px;
}

.work {
  margin-top: 145px;
  padding-bottom: 100px;
}
.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
}
.work__item {
  text-align: center;
  border: 1px solid #F4F4F4;
  border-radius: 20px;
  padding: 40px 30px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s linear;
}
.work__item .btn-active:hover {
  border-color: #579aff;
  background-color: #579aff;
  color: white;
}
.work__item:hover {
  border: transparent;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.03);
}
.work__image {
  margin-bottom: 35px;
  max-height: 115px;
}
.work__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.work__desc {
  margin-bottom: 35px;
}

.intro {
  display: flex;
  align-items: center;
  padding: 110px 0 160px;
}
.intro > * {
  width: 50%;
}
.intro__content {
  padding-right: 130px;
}
.intro .block {
  align-items: flex-start;
  margin-bottom: 30px;
}
.intro .block__heading {
  text-align: left;
}
.intro__desc {
  margin-bottom: 30px;
}

.plan {
  padding-bottom: 100px;
}
.plan__name {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 20px;
}
.plan__price {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #F4F4F4;
}
.plan__symbol {
  vertical-align: top;
}
.plan__number {
  font-weight: 600;
  font-size: 40px;
}
.plan__desc {
  margin-bottom: 55px;
}
.plan__item {
  border: 1px solid #F4F4F4;
  border-radius: 30px;
  width: calc(100%/3 -45px*2/3);
  padding: 55px 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.2s linear;
}
.plan__item:hover {
  border: transparent;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.03);
}
.plan__item > a:hover {
  background-color: #579aff;
  color: white;
  border-color: #579aff;
}
.plan__feature {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 500;
}
.plan__feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: #868D93;
  font-weight: 300;
}
.plan__feature__icon {
  font-size: 20px;
  margin-right: 10px;
}
.plan__feature__item:last-of-type {
  margin-bottom: 75px;
}
.plan__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.plan--start {
  display: block;
  width: max-content;
  margin: auto auto 0;
}
.plan__label {
  padding: 15px;
  top: 0;
  right: 0;
  background-color: #ff858d;
  color: white;
  text-transform: capitalize;
  border-radius: 0 30px 0 30px;
  position: absolute;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
